**1. Write a Python program to find sum of elements in list?**

In [ ]:
list1 = [2,3,4,5,6,7,7] 
sum = 0 
for i in list1 :
  sum = sum + i 

print( "sum of elements present in the list : " , sum )

sum of elements present in the list :  34



---

**2. Write a Python program to Multiply all numbers in the list?**

In [ ]:
list1 = [2,3,4,5,6,7,7] 
mul = 1 
for i in list1 :
  mul = mul * i 

print("multiplication of the element present in the list : " , mul )

multiplication of the element present in the list :  35280



---

**3. Write a Python program to find smallest number in a list?**

In [ ]:
list1 = [0,1,2,3,4,5,6,7,7] 
small_no = list1[0]

for i in list1 :
  if i < small_no  :
    small_no = i 

print("smallest no in the list :" , small_no)

smallest no in the list : 0



---

**4. Write a Python program to find largest number in a list?**

In [ ]:
list1 = [0,1,2,3,4,5,6,7,7,5,3434,76767,233234342] 
largest_no = list1[0]

for i in list1 :
  if i > largest_no  :
    largest_no = i 

print("largest_no in the list :" , largest_no)

largest_no in the list : 233234342



---

**5. Write a Python program to find second largest number in a list?**

In [ ]:
list1 = [0,1,2,3,4,5,6,7,7,5,3434,76767,454455,34344,323232323,45546565464,233234342] 
a = list()
largest_no = list1[0]

for i in list1 :
    if i > largest_no  :
        largest_no = i 
        a.append(largest_no)
print(f"Second largest no in the list" , a[-2])

Second largest no in the list 323232323



---

**6. Write a Python program to find N largest elements from a list?**

In [ ]:
def Find_N_larg_ele(n , m ) :
    m.sort()
    m = m[::-1]
    for i in range(n):
        print( i+1 , ": largest no_is", m[i])

In [ ]:
Find_N_larg_ele( 6 , [0,1,2,3,4,5,6,7,7,5,3434,76767,454455,34344] )

1 : largest no_is 454455
2 : largest no_is 76767
3 : largest no_is 34344
4 : largest no_is 3434
5 : largest no_is 7
6 : largest no_is 7



---

**7. Write a Python program to print even numbers in a list?**

In [ ]:
def Find_even_no(n) :
    for i in n :
        if i % 2 == 0 :
            print(i)

In [ ]:
Find_even_no([0,1,2,3,4,5,6,7,7,5,3434,76767,454455,34344])

0
2
4
6
3434
34344



---

**8. Write a Python program to print odd numbers in a List?**

In [ ]:
def Find_odd_no(n) :
    for i in n :
        if i % 2 == 1 :
            print(i)

In [ ]:
Find_odd_no([0,1,2,3,4,5,6,7,7,5,3434,76767,454455,34344])

1
3
5
7
7
5
76767
454455



---

**9. Write a Python program to Remove empty List from List?**

In [2]:
my_list = [1, 2, [], 'mahendra' , 3, [], 4, [], 5, []]
new_list = []
for x in my_list:
    if x != []:
        new_list.append(x)
print(new_list)

[1, 2, 'mahendra', 3, 4, 5]



---

**10. Write a Python program to Cloning or Copying a list?**

In [10]:
def copy_list(n) :
  new_list = [] 
  new_list2 = n 
  return new_list2

In [11]:
copy_list(["mahendra" , 90 , 787])

['mahendra', 90, 787]



---

**11. Write a Python program to Count occurrences of an element in a list?**

In [27]:
num = int(input("Enter the number ") )
n = [2,2,2,3,4,5,65,6,7,78] 
Accurences_of_elements = []
count = 0 
for i in n :
    if i == num :
        count = count + 1
    elif count == 0 :
      print("please enter the valid number ")
      break 
      
print("Accurence of ", num , "is" , count)

Enter the number 343434
please enter the valid number
Accurence of  343434 is 0

In [28]:
num = int(input("Enter the number ") )
n = [2,2,2,3,4,5,65,6,7,78] 
Accurences_of_elements = []
count = 0 
for i in n :
    if i == num :
        count = count + 1
    elif count == 0 :
      print("please enter the valid number ")
      break 
      
print("Accurence of ", num , "is" , count)

Enter the number 2
Accurence of  2 is 3



---